<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#{{ vm.itemData.id }}">{{ vm.itemData.name }}</a>
    </h4>
    <div>Priority: {{ vm.itemData.priority }}</div>
    <div>
      <input type="button" class="btn btn-primary btn-xs" value="Edit" />
      <input type="button" class="btn btn-primary btn-xs" value="Delete" />
    </div>
  </div>
  <div id="{{ vm.itemData.id }}" class="panel-collapse collapse in">
    <div class="panel-body">
      {{ vm.itemData.description }}
    </div>
  </div>
</div>